:root {
    --primary: #369f4d;
    --bg-color: #0d1117;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
    color: white;
}

h1 {
    font-size: 74px;
}

p {
    font-size: 16px;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 55px;
    }

    p {
        font-size: 16px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}